body {
    font-family: sans-serif;
}

#contenedor {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e41414;
}

#productos {
    margin-bottom: 20px;
}

#productos label {
    display: block;
    margin-bottom: 5px;
}

#productos input {
    width: 100%;
    padding: 5px;
    border: 1px solid #1f97a0;
    box-sizing: border-box;
}

#productos button {
    padding: 5px 10px;
    border: 1px solid #0bb644;
    cursor: pointer;
}

#resumen {
    border: 1px solid #8caf0e;
    padding: 10px;
}

#resumen table {
    width: 100%;
    border-collapse: collapse;
}

#resumen th, #resumen td {
    border: 1px solid #a8217b;
    padding: 5px;
    text-align: left
}